<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lectorxml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EstCuenta_OutBinding1" />
                <binding name="EstCuenta_OutBinding">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Basic" >
							<extendedProtectionPolicy policyEnforcement="Never"/>
						</transport>
						</security>

				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.48.50.13:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=CEOPORTALWEBVTAS_Q&amp;receiverParty=&amp;receiverService=&amp;interface=EstCuenta_Out&amp;interfaceNamespace=urn%3Agaseras.ceoc.com%3Asrvemp%3Acrm%3Afinanciacion"
                binding="basicHttpBinding" bindingConfiguration="EstCuenta_OutBinding"
                contract="ServiceReference1.EstCuenta_Out" name="HTTP_Port" />
           
        </client>
    </system.serviceModel>
    <applicationSettings>
        <lectorxml.Properties.Settings>
            <setting name="lectorxml_WebReference_CEOPORTALWEBVTAS_Q_EstCuenta_Out"
                serializeAs="String">
                <value>http://10.48.50.13:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=CEOPORTALWEBVTAS_Q&amp;receiverParty=&amp;receiverService=&amp;interface=EstCuenta_Out&amp;interfaceNamespace=urn%3Agaseras.ceoc.com%3Asrvemp%3Acrm%3Afinanciacion</value>
            </setting>
        </lectorxml.Properties.Settings>
    </applicationSettings>
</configuration>